@charset "UTF-8";
@font-face {
  font-family: "PT Sans Narrow";
  src: local("PT Sans Narrow"), url("/home/sunling/Документы/github/test-project/fonts/PT_Sans-Narrow-Web-Bold.ttf") format("truetype");
}
/* line 11, ../scss/style.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 16, ../scss/style.scss */
html {
  font-family: "PT Sans Narrow";
  font-size: 14px;
  font-weight: 400;
  color: white;
  background-image: url("/home/sunling/Документы/github/test-project/img/tint.png");
  background-position: center, center;
}

/* line 27, ../scss/style.scss */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* line 33, ../scss/style.scss */
.container {
  width: 940px;
  margin: 0 auto;
}

/* line 38, ../scss/style.scss */
nav {
  font-size: 16px;
}
/* line 42, ../scss/style.scss */
nav li {
  display: inline-block;
}
/* line 46, ../scss/style.scss */
nav div {
  float: right;
}

/* line 53, ../scss/style.scss */
main .index-logo {
  text-align: center;
}
/* line 56, ../scss/style.scss */
main .future-item {
  width: 283px;
  display: inline-block;
}
/* line 60, ../scss/style.scss */
main .future-item .future-name {
  font-size: 30px;
}
/* line 67, ../scss/style.scss */
main .index-content .index-content-title {
  font-size: 30px;
}
/* line 71, ../scss/style.scss */
main .index-content .index-content-left {
  float: left;
  width: 350px;
  min-height: 314px;
}
/* line 76, ../scss/style.scss */
main .index-content .index-content-left .news-perview {
  margin: 0;
  padding: 0;
}
/* line 81, ../scss/style.scss */
main .index-content .index-content-right {
  float: right;
  width: 300px;
  min-height: 314px;
}

/* line 94, ../scss/style.scss */
footer section {
  float: left;
  width: 307px;
}
/* line 98, ../scss/style.scss */
footer .footer-social {
  width: 141px;
}
/* line 101, ../scss/style.scss */
footer .footer-copyright {
  float: right;
  width: 141px;
}
