@font-face{
  font-family: "PT Sans Narrow";
  src:
    local("PT Sans Narrow"),

    //прописать свой абсолютный путь.
    url('/home/sunling/Документы/github/test-project/fonts/PT_Sans-Narrow-Web-Bold.ttf') format("truetype");

}

a{
  text-decoration: none;
}

html{
  font-family: "PT Sans Narrow";
  font-size: 14px;
  font-weight: 400;

}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 940px;
  margin: 0 auto;
}

nav{
  font-size: 16px;


  li{
    display: inline-block;
  }

  div{
    float: right;
  }
}

main{

  .index-logo{
    text-align: center;
  }
  .future-item{
    width: 283px;
    display: inline-block;

    .future-name{
      font-size: 30px;
    }
  }


  .index-content{
    .index-content-title{
      font-size: 30px;
    }

    .index-content-left{
      float: left;
      width: 350px;
      min-height: 314px;

      .news-perview{
        margin: 0;
        padding: 0;
      }
    }
    .index-content-right{
      float: right;
      width: 300px;
      min-height: 314px;



    }

  }
}

footer{
  section{
    float: left;
    width: 307px;
  }
  .footer-social{
    width: 141px;
  }
  .footer-copyright{
    float: right;
    width: 141px;
  }
}
