@font-face{
  font-family: "PT Sans Narrow";
  src:
    local("PT Sans Narrow"),

    //прописать свой абсолютный путь.
    url('/home/sunling/Документы/github/test-project/fonts/PT_Sans-Narrow-Web-Bold.ttf') format("truetype");

}

.btn{
  text-align: center;

  margin-top: 22px;
  margin-bottom: 22px;

  padding-top: 13px;
  padding-bottom: 13px;

  background-color: black;
  width: 140px;
  display: block;
}

a{
  text-decoration: none;
  color: white;
}

html,
body{
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow";
  font-size: 14px;
  font-weight: 400;
  color: white;

  //прописать свой абсолютный путь.
  background-image: url('/home/sunling/Документы/github/test-project/img/tint.png');
  background-position: center, center;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 940px;
  margin: 0 auto;
}

header{
  background-color: black;

  nav{
    font-size: 16px;


    padding-top: 22px;
    padding-bottom: 22px;

    ul{
      margin: 0;
      padding: 0;
      width: 600px;
    }


    li{
      float: left;
      margin-right: 40px;
      display: block;

    }

    div{
      width: 63px;
      float: right;
    }
  }
}

main{

  .index-logo{
    text-align: center;
  }
  .future-item{
    width: 283px;
    display: inline-block;

    .future-name{
      font-size: 30px;
    }
  }


  .index-content{
    .index-content-title{
      font-size: 30px;
    }

    .index-content-left{
      float: left;
      width: 350px;
      min-height: 314px;

      .news-perview{
        margin: 0;
        padding: 0;
      }
    }
    .index-content-right{
      float: right;
      width: 300px;
      min-height: 314px;



    }

  }
}

footer{
  section{
    float: left;
    width: 307px;
  }
  .footer-social{
    width: 141px;
  }
  .footer-copyright{
    float: right;
    width: 141px;
  }
}
